

/* 
path {
    pointer-events: all;
}
path:hover {
    fill: #e3e1e1; 
    cursor: pointer;
}
*/ 

html, body {
    font-family: 'Edu SA Beginner', cursive;
    cursor: crosshair;
    zoom: 1.1; 
    max-width: 100%;
    overflow-x: hidden;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

p {
    font-size: 30px; 
    line-height: 30px;
}

.column {
    /* padding-left: 50px; */ 
    float: left;
  }


  .row {
    padding-left: 50px;
    padding-top: 20px; 
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  svg {
    width: 100%;
  }

